@use 'colors' as *;

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  &-logo {
    display: flex;
    align-items: center;
    &-image {
      max-width: 100%;
      width: 200px;
    }
  }
  &-item {
    text-decoration: none;
    margin-right: 0.5rem;
    &:hover {
      text-decoration: underline;
    }
    &-icon {
      margin-right: 0.5rem;
    }
  }

  & a {
    font-weight: bold;
    color: $body;
  }
}
